@using System.Diagnostics
@using Client.Extentsions.Meal;
@model Client.Models.Order.OrderMealViewModel;

@{
    Layout = null;
    var start = MealMethods.Week(DateTime.Parse(TempData["start"].ToString()));
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Luc Joosten">
    <title>Easy Meal - Order step</title>
    <link rel="icon" href="~/img/website_icon.jpg">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="~/css/order/orderMeal.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Navigation -->
    @await Html.PartialAsync("_NavbarPartial")

    <section id="order">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <label><h1 class="text-black-50">Order meals for week @start</h1></label>
                    <br />
                    <hr />
                    <div class="input-daterange input-group" id="datepicker">
                        <div class="row m-2">
                            @for (var i = 0; i < ViewBag.Dictionary.Count; i++)
                            {
                                var day = ViewBag.Dictionary[i];
                                <div class="col-lg-4 mt-2">
                                    <form asp-action="AddToCart" asp-controller="Order">
                                        <label class="control-label">@Enum.Parse(typeof(DayOfWeek), "" + i)</label>
                                        <input type="hidden" name="day" value="@Enum.Parse(typeof(DayOfWeek), "" + i)" />
                                        <select class="form-control" name="id">
                                            <option selected value="@null">None</option>
                                            <option value="19">test</option>
                                            <option value="2">2</option>
                                            @foreach (var meal in day) {
                                                var matchingDishes = new List<Domain.Dish>();
                                                foreach (var mealDish in ViewBag.MealDishes) {
                                                    if (mealDish.MealId == meal.Id) {
                                                        var dish = ((List<Domain.Dish>)ViewBag.Dishes).Find(d => d.Id == mealDish.DishId);
                                                        matchingDishes.Add(dish);
                                                    }
                                                }
                                                <option value="@meal.Id">
                                                    @String.Join(", ", matchingDishes)
                                                </option>
                                            }
                                        </select>
                                        <button class="btn btn-success" type="submit">Save</button>
                                    </form>
                                </div>
                            }
                        </div>
                        <div class="row m-2 mt-3">
                            <div class="col-md">
                                <a asp-controller="Order" asp-action="Order"><button class="btn btn-success">Add to cart</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @await Html.PartialAsync("_FooterPartial")

</body>
</html>
